div#header
    a(href="/") Logout
    | 
    a(href="/artworks") Artworks
    | 
    a(href="/workshop") Workshops 
    |
    a(href="/profile") Profile
    
    //Check all artwork liked and reviews, be able to post an art and switch accounts and show notifications
    //Make a user account for every artist
    //Cookie seesion authentication thing
    //Implement Review and Likes
    //Make an array of likes based off art ID
    //Make an array based of the user and what they liked
    //Search functionality 


    //Workshops
        Enroll
    //Profile
        Showcase Notifications, Change Patron Type, Post Artwork 
        Show username, accounts followed
        Things liked and reviews

    //Art
        Implement Likes and Reviews
        Artist Information 
        Make A Follow Functionality 
    //Gallery
        View More Page 
        
    

